<header xmlns="http://www.w3.org/1999/html">
    <ul>
        <li class="color1"></li>
        <li class="color2"></li>
        <li class="color3"></li>
        <li class="color4"></li>
        <li class="color5"></li>
    </ul>

</header>
<div class="main container">
    <div class="logo panel">
        <a href="#"><img src="./images/logo.gif"></a>
    </div>
    <div class="logout">Connected as: {{isLoggedIn.name}}
        <a href="" ng-click="logout()" class=""><i class="glyphicon glyphicon-user"></i>Logout</a>
    </div>
</div>
<div class="tasks">

    <div class="row">
        <form>
            <div class="well">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Type</label>
                        <select class="form-control" ng-model="content.selectedDatatype" ng-options="type.name for type in datatypes" ng-change="onTypeUpdate()">
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Name</label>
                        <input type="text" class="form-control col-sm-10" id="name"
                               placeholder="Datatype Name" ng-model="content.selectedDatatype.name"/>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="form-control btn btn-primary" ng-click="createNewType()">Create New</button>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="form-control btn btn-primary" ng-click="duplicate()">Duplicate</button>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="form-control btn btn-primary" ng-click="save()">Save</button>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="form-control btn btn-primary" ng-click="downloadXML()">As XML</button>
                    </div>
                    

            </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Social Networks Share</label>
                        <select class="form-control">
                            <option>Twitter + Facebook</option>
                            <option>Only Twitter</option>
                            <option>As Event</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Templates path</label>
                        <select class="form-control col-sm-10" ng-model="content.selectedDatatype.templatePath">
                            <option value="templates/hotel">Hotel</option>
                            <option value="templates/restaurants">Restaurants</option>
                            <option value="templates/events">Events</option>
                            <option value="templates/cultural">Cultural</option>
                            <option value="">Custom</option>
                        </select>
                        <input class="form-control col-sm-8"  type="text" ng-model="content.selectedDatatype.templatePath"/>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Map Marker Icon</label>
                        <input type="text" class="form-control col-sm-10"
                               placeholder="Marker Icon" ng-model="content.selectedDatatype.markerIcon"/>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Map Marker Color</label>
                        <input type="text" class="form-control col-sm-10"
                               placeholder="red" ng-model="content.selectedDatatype.markerColor"/>
                    </div>
                </div>
            </div>
            <div class="row">
                    <h3>Data Type Fields </span>
                    </h3>

                    <div class="row form-group" ng-repeat="fields in content.selectedDatatype.structure">
                        <div class="form-group col-md-3">
                            <label>Name</label>
                            <input type="text" ng-model="fields.name"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Path</label>
                            <input type="text" ng-model="fields.path"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Type</label>
                            <select ng-model="fields.type">
                                <option value="text">text</option>
                                <option value="number">number</option>
                                <option value="date">date</option>
                                <option value="img">image(url)</option>
                                <option value="pos">position</option>
                            </select>
                        </div>

                        </div>
                    </div>

                    <a class="btn btn-primary" ng-click="addNewField()">Add Field</a>
            </div>

        </form>

    </div>
    </div>
</div>


<footer><a href="http://www.athome-solution.fr" target="_blank"><img src="./images/logo_athome.png" border="0"></a>
</footer>

