.float-left {
    float: left;
}

.float-right {
    float: right;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    float: left;
    width: 20%;
    height: 20px;

}

.color1 {
    background: #00BAFF;
}

.color2 {
    background: #0B3E72;
}

.color3 {
    background: #FF0072;
}

.color4 {
    background: #9DC20A;
}

.color5 {
    background: #FF9000;
}

.login .logo {
    width: 440px;
    margin: 10px auto !important;
    border: none;
    box-shadow: none;
}

.login .title-login {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #0B3E72;
    border-bottom: dotted 1px #B0C2DB;
}

.title-login span {
    font-size: 1.6em;
}

.login .well {
    width: 40%;
    margin: 20px auto !important;
    padding: 5px 24px !important;
}

.description {
    color: #0B3E72;
}

.jumbotron {
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 15px;
}

.main .logout {
    float: right;
    width: 50%;
    text-align: right;
    padding-top: 10px;
}

.main .logout a {
    color: #0B3E72;
    text-decoration: none;
}

.main .logout a i {
    margin-right: 5px;
}

.main .logo {
    margin: 12px auto 30px;
    border: none;
    box-shadow: none;
    width: 50%;
    float: left;
}

.main .logo img {
    width: 300px;
}

.main h3 {
    color: #FFFFFF;
    padding: 15px;
    background: #7E8C8D;
}

.main h4 {
    color: #FFFFFF;
    padding: 5px;
    background: #B6C6C7;
    margin-bottom: 0px;
}

.main a i {
    margin-right: 5px;
}

.main table {
    background: #ECF0F1;
}

.main textarea {
    width: 100%
}

.checkbox {
    margin-top: 0px;
}

.ta-editor {
    min-height: 150px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

#page2 .ta-editor {
    min-height: 50px !important;
}

.form-control {
    height: auto !important;
}

.help-block {
    padding: 10px 20px;
    margin: 0px !important;
    border-left: 5px solid #E0E0E0;
    background-color: #F7F7F7;
}

#page1 .help-block {
    min-height: 184px;
}

li .edit {
    display: none;
}

li.editing .edit {
    display: block;
}

li.view {
    display: block;
}

li.editing .view {
    display: none;
}

.angular-leaflet-map {
    width: 640px;
    height: 480px;
}

/**Main menu**/
.menu {
    margin: 0 auto;
    background: #0000ff;
}

.panel-menu {
    width: 28%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.link i {
    display: block;
    padding: 20px;
    height: 127px;

}


.link.calendar i {
    background: url(/images/calendar.png) #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;

}
.link.calendar i:hover {
    background-color: #bee9f9;
}

.link.points i {
    background: url(/images/points.png) #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;

}
.link.points i:hover {
    background-color: #ecfab5;
}

.link.system i {
    background: url(/images/system.png) #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;

}
.link.system i:hover {
    background-color: #f9ddb8;
}

.link a {
    text-align: center;
    display: block;
    font-size: 1.3em;
    text-decoration: none !important;

}

.link.calendar a {
    color: #323d41;
}

.link.calendar a:hover {
    color: #667074;
}

.link.points a {
    color: #526506;
}

.link.points a:hover {
    color: #778e1c;
}

.link.system a {
    color: #8c5207;
}
.link.system a:hover {
    color: #c27715;
}

footer {
    margin-top: 50px;
    clear: both;
    text-align: center;
    bottom: 0;
}

footer img {
    width: 100px;
}

/******************MODAL STYLE************************/
.create-point {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;

}
.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
}
.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}
