.full-width {
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    float: left;
    width: 20%;
    height: 20px;

}

.color1 {
    background: #00BAFF;
}

.color2 {
    background: #0B3E72;
}

.color3 {
    background: #FF0072;
}

.color4 {
    background: #9DC20A;
}

.color5 {
    background: #FF9000;
}

.login .logo {
    width: 440px;
    margin: 10px auto !important;
    border: none;
    box-shadow: none;
}

.login .title-login {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #0B3E72;
    border-bottom: dotted 1px #B0C2DB;
}

.title-login span {
    font-size: 1.6em;
}

.login .well {
    width: 40%;
    margin: 20px auto !important;
    padding: 5px 24px !important;
}

.description {
    color: #0B3E72;
}

.jumbotron {
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 15px;
}

.main .logout {
    float: right;
    width: 50%;
    text-align: right;
    padding-top: 10px;
}

.main .logout a {
    color: #0B3E72;
    text-decoration: none;
}

.main .logout a i {
    margin-right: 5px;
}

.main .logo {
    margin: 12px auto 30px;
    border: none;
    box-shadow: none;
    width: 50%;
    float: left;
}

.main .logo img {
    width: 300px;
}

.main h3 {
    color: #FFFFFF;
    padding: 15px;
    background: #7E8C8D;
}

.main h4 {
    color: #FFFFFF;
    padding: 5px;
    background: #B6C6C7;
    margin-bottom: 0px;
}

.main a i {
    margin-right: 5px;
}

.main table {
    background: #ECF0F1;
}

.main textarea {
    width: 100%
}

.checkbox {
    margin-top: 0px;
}

.ta-editor {
    min-height: 150px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

#page2 .ta-editor {
    min-height: 50px !important;
}

.form-control {
    height: auto !important;
}

li .edit {
    display: none;
}

li.editing .edit {
    display: block;
}

li.view {
    display: block;
}

li.editing .view {
    display: none;
}

table.table-poi {
}

.angular-leaflet-map {
    width: 480px;
    height: 640px;
}

/**Main menu**/
.menu {
    margin: 0 auto;
    background: #0000ff;
}

.panel-menu {
    width: 28%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.link i {
    display: block;
    padding: 20px;
    height: 127px;

}

.link.calendar i {
    background-image: url(/images/calendar.png);
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;

}

.link.calendar i:hover {
    background-color: #bee9f9;
}

.link.points i {
    background-image: url(/images/points.png);
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;

}

.link.points i:hover {
    background-color: #ecfab5;
}

.link.system i {
    background-image: url(/images/system.png);
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;

}

.link.system i:hover {
    background-color: #f9ddb8;
}
.link.social i {
    background: url(/images/social.png) #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;

}

.link.social i:hover {
    background-color: #c4d8ed;
}
.link.user i {
    background: url(/images/user.png) #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;

}

.link.user i:hover {
    background-color: #f9d2e3;
}

.link a {
    text-align: center;
    display: block;
    font-size: 1.3em;
    text-decoration: none !important;

}

.link.calendar a {
    color: #323d41;
}

.link.calendar a:hover {
    color: #667074;
}

.link.points a {
    color: #526506;
}

.link.points a:hover {
    color: #778e1c;
}

.link.system a {
    color: #8c5207;
}

.link.system a:hover {
    color: #c27715;
}
.link.social a {
    color: #28394b;
}

.link.social a:hover {
    color: #4a5f74;
}
.link.user a {
    color: #500526;
}

.link.user a:hover {
    color: #813a5a;
}

footer {
    margin-top: 50px;
    clear: both;
    text-align: center;
    bottom: 0;
}

footer img {
    width: 100px;
}

/***************Create client application**************/
.client{
    color: #03274c;
}
.client .download-library{
    border-right: 1px dotted #e3e3e3;
}
.client .steps{
    width: 90%;
    margin-top: 20px;
    text-align:justify;
    color: #9d9e9f;
}
.client-library a.btn-default {
    color: #FFF;
    background-color: #04a7e3;
    border-color: #0391c6;
}
.client-library a.btn-default:hover {
    color: #FFF;
    background-color: #0391c6;
    border-color: #04a7e3;
}
.install a.btn-default {
    color: #FFF;
    background-color: #9dc20a;
    border-color: #8aab07;
}
.install a.btn-default:hover {
    color: #FFF;
    background-color: #8aab07;
    border-color: #9dc20a;
}
.custom a.btn-default {
    color: #FFF;
    background-color: #ff0072;
    border-color: #e10b6b;
}
.custom a.btn-default:hover {
    color: #FFF;
    background-color: #e10b6b;
    border-color: #ff0072;
}

.developer a.btn-default {
    color: #FFF;
    background-color: #ff9000;
    border-color: #e58304;
}
.developer a.btn-default:hover {
    color: #FFF;
    background-color: #e58304;
    border-color: #ff9000;
}

.library .logos {
    padding: 10px;
    background-color: #fcfcfc;
    margin-top: 20px;
    width: 62%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: dotted 1px #e3e3e3;
}
.library h4 {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
}
.library a {
    display: block;
    float: left;
    background: url(/images/library.png);
    background-repeat: no-repeat;
}
.library a.phonegap {
    width: 138px;
    height: 51px;
}

.library a.angular {
    background-position: -161px 0px;
    width: 138px;
    height: 51px;
}
.library a.ionic {
    background-position: -330px 0px;
    width: 68px;
    height: 66px;
    margin-left: 35%;
}
.library a.leaflet {
    background-position: -237px -67px;
    width: 138px;
    height: 51px;
}
.library a.baasbox {
    background-position: -56px -67px;
    width: 160px;
    height: 51px;
}





/******************MODAL STYLE************************/
.create-point {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;

}

.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.header-modal {
    font-size: 1.3em;
    padding: 15px;
    border-bottom: solid 1px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.header-modal .ng-modal-title {
    padding-left: 5px;
}

.ng-modal-dialog-content {
    padding: 10px;
    text-align: left;
}

.ng-modal-close {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}
/********************Template modal points interest**********/
.points-intereset .header-modal{
    color: #778e1c;
    background: #ecfab5;
    border-bottom-color:#778e1c;
}
.points-intereset .btn-primary {
    background-color: #9dc20a;
    border-color: #8bac07;
}
.points-intereset .btn-primary:hover {
    background-color:#8bac07 ;
    border-color: #9dc20a;
}







.onoffswitch {
    margin-top: 7px;
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #076D9F; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 36px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.scrollview {
    overflow-y: scroll;
    height: 633px;
    overflow-x: hidden;
}