<header>
    <ul>
        <li class="color1"></li>
        <li class="color2"></li>
        <li class="color3"></li>
        <li class="color4"></li>
        <li class="color5"></li>
    </ul>

</header>
<div class="main container">
    <div class="logo panel">
        <a href="#"><img src="/images/logo.gif"></a>
    </div>
    <div class="logout">Connected as: {{isLoggedIn.name}}
        <a href="" ng-click="logout()" class=""><i class="glyphicon glyphicon-user"></i>Logout</a>
    </div>
</div>
<div class="client well">
    <div class="col-md-6 download-library">
        <div class="downolad client-library"><h2>Download client Library</h2>
            <a href="" class="btn btn-default ">Download</a>
        </div>
        <div class="steps">
            <ol>
                <li> Verum ad istam omnem orationem brevis est defensio. Nam quoad aetas M. Caeli dare potuit isti suspicioni locum,
                    fuit primum ipsius pudore, deinde etiam patris diligentia disciplinaque munita. Qui ut huic virilem togam deditšnihil dicam hoc
                    loco de me; tantum sit, quantum vos existimatis; hoc dicam, hunc a patre continuo ad me esse deductum; nemo hunc M. Caelium in
                    illo aetatis flore vidit nisi aut cum patre aut mecum aut in M. Crassi castissima domo, cum artibus honestissimis erudiretur.
                </li>
                <li> Verum ad istam omnem orationem brevis est defensio. Nam quoad aetas M. Caeli dare potuit isti suspicioni locum,
                    fuit primum ipsius pudore, deinde etiam patris diligentia disciplinaque munita. Qui ut huic virilem togam deditšnihil dicam hoc

                </li>
                <li> Verum ad istam omnem orationem brevis est defensio. Nam quoad aetas M. Caeli dare potuit isti suspicioni locum,
                </li>
            </ol>

        </div>

    </div>
    <div class="col-md-6"><h2>Documentation</h2>
        <div class="downolad install">
            <h4>Installation</h4>
            <a href="" class="btn btn-default">Download</a>
        </div>
        <div class="downolad custom">
            <h4>Customisation</h4>
            <a href="" class="btn btn-default ">Download</a>
        </div>
        <div class="downolad developer">
            <h4>Developer</h4>
            <a href="" class="btn btn-default ">Download</a>
        </div>

        <div class="library">
            <h4>Library</h4>
            <div class="logos">
                <a href="http://phonegap.com/" class="phonegap" target="_blank"></a>
                <a href="http://angularjs.org/" target="_blank" class="angular"></a>
                <div class="clearfix"></div>
                <a href="http://ionicframework.com/" class="ionic" target="_blank"></a>
                <div class="clearfix"></div><br>
                <a href="http://leafletjs.com/" class="leaflet" target="_blank"></a>
                <a href="http://www.baasbox.com/" class="baasbox" target="_blank"></a>
                <div class="clearfix"></div>
            </div>

            </ul>
        </div>
        <div class="deployment">
            <h4>Deployment</h4>
            <ul class="list-inline">
                <li><img src="/images/google-play.png"></li>
                <li><img src="/images/apple-store.png"></li>
                <li><img src="/images/windows.png"></li>
            </ul>

        </div>

    </div>
    <div class="clearfix"></div>

</div>
<footer><a href="http://www.athome-solution.fr" target="_blank"><img src="/images/logo_athome.png" border="0"></a> </footer>