<header>
    <ul>
        <li class="color1"></li>
        <li class="color2"></li>
        <li class="color3"></li>
        <li class="color4"></li>
        <li class="color5"></li>
    </ul>

</header>
<div class="main container">
    <div class="logo panel">
        <a href="#"><img src="/images/logo.gif"></a>
    </div>
    <div class="logout">Connected as: {{isLoggedIn.name}}
        <a href="" ng-click="logout()" class=""><i class="glyphicon glyphicon-user"></i>Logout</a>
    </div>
</div>
<div class="tasks">
    <a href="" class="btn btn-primary" ng-click="toggleModal()" ng-show="isExternal">Datasource</a>
    <a href="" class="btn btn-primary" ng-click="createItem()">Create a new POI</a>

    <div class="row">
        <div class="col-md-7">
            <b>Current points of interests :</b>

            <div class="scrollview">
                <table class="table-poi table table-striped full-width">
                    <tbody ng-repeat="item in paginedPoi">
                    <tr>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                       id="onoffswitch_{{item.id}}" ng-model="item.selected"
                                       ng-change="submitItem(item)">
                                <label class="onoffswitch-label" for="onoffswitch_{{item.id}}">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                            </div>
                        </td>
                        <td>
                            <img ng-src="{{item.img}}" height="50px" width="50px"/>
                        </td>
                        <td>
                            <label ng-click="editItem(item)" class="view">{{item.name}}</label><br/>
                            <span>{{item.additionalInfos}}</span>
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-click="listInstagramPictures(item)"
                                    ng-show="instagramActive()" title="Get From Instagram"><i
                                    class="glyphicon glyphicon-picture"></i></button>
                            <button class="btn btn-danger" ng-click="deleteItem(item)" title="Delete item"><i
                                    class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                    <tr ng-show="item == editingItem">
                        <form ng-submit="submitItem(item)" class="edit form-horizontal" role="form">
                            <td colspan="4">
                                <div class="md-col-5">
                                    <label>Type</label>
                                    <select class="form-control" ng-model="type.selectedType"
                                            ng-options="datatype.name for datatype in datatypes" ng-change="onItemTypeUpdate()">
                                    </select>

                                </div>
                                <div class="md-col-5"  ng-repeat="field in type.selectedType.structure" ng-switch on="field.type">
                                    <label>{{field.name}}</label>
                                          <input ng-switch-when="text" type="text" class="form-control" placeholder="value" ng-model="item[field.path]">


                                    <input ng-switch-when="number" type="number" class="form-control" placeholder="value" ng-model="item[field.path]">
                                    <input ng-switch-when="date" type="date" class="form-control" placeholder="value" ng-model="item[field.path]">
                                    <div ng-switch-when="img" >
                                    <input type="text" class="form-control" placeholder="value" ng-model="item[field.path]">
                                        <img src="{{item[field.path]}}">
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary pull-right" ng-click=submitItem(item)><span
                                        class="glyphicon glyphicon-ok"></span> Save</a>
                            </td>


                            <br/>

                            <div class="row" ng-show="instagramActive()">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Instagram location Id :</label>

                                        <div class="col-xs-6">
                                            <input type="text" ng-trim="false" ng-model="item.instagramId"
                                                   class="form-control">
                                        </div>
                                        <span class="help-block text-right">{{item.instagramLocationName}}</span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <a href="" class="btn btn-primary" ng-click="fetchInstagramLocation(item)">Find
                                        closest Location</a>
                                </div>
                            </div>



                            <div class="clearfix"></div>


                        </form>
                    </tr>
                    </tbody>
                </table>
                <pagination boundary-links="true" max-size="maxSize"  items-per-page="numPerPage" ng-change="pageChanged()" total-items="localizedItems.length" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

            </div>
        </div>
        <div class="col-md-5">
            <leaflet markers="markers" center="center"/>
        </div>
    </div>
</div>

<modal-dialog show="instagramImagesShown" width="50%" class="" height="80%" dialog-title='Choose a picture'>
    <div>
        <span ng-repeat="image in instagramImages" ng-show="instagramSelect">

            <img ng-src="{{image.images.low_resolution.url}}" height="100px" width="100px"
                 ng-click="addImageToItem(image)"/>
        </span>
    </div>
</modal-dialog>
<footer><a href="http://www.athome-solution.fr" target="_blank"><img src="/images/logo_athome.png" border="0"></a>
</footer>
<modal-dialog show='modalShown' width='80%' class="points-intereset datasource" height='80%'
              dialog-title='Configure the external dataSource'>
    <div class="external">
        <div class="row">
            <form>
                <div class="well">

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Data source</label>
                            <select class="form-control" ng-model="datasource.selectedDatasource"
                                    ng-options="datasource.name for datasource in datasources"
                                    ng-change="onSourceUpdate()">
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <label class="col-md-6">Enter a URL or upload a data file</label>

                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">

                                    <input type="text" class="form-control col-sm-10" id="url" placeholder="Url"
                                           ng-model="datasource.selectedDatasource.url">
                                </div>
                                <div class="form-group col-md-6">

                                    <input type="file" id="file" name="file"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Name</label>
                            <input type="text" class="form-control col-sm-10" id="name"
                                   placeholder="Datasource Name" ng-model="datasource.selectedDatasource.name"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">

                            <a class="btn btn-primary" ng-click="createNewDataSource()">New</a>
                            <a class="btn btn-primary" ng-click="duplicateDataSource()">Duplicate</a>
                            <a class="btn btn-primary" ng-click="loadExternalDatas()">Preview</a>
                            <a class="btn btn-primary" ng-click="saveExternalDatas()">Save</a>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Type</label>
                            <select class="form-control" ng-model="type.selectedType"
                                    ng-options="type.name for type in datatypes" ng-change="onTypeUpdate()">
                            </select>
                            <br>
                            <button  class="btn btn-primary" ng-click="onTypeUpdate()">Refresh</button>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Root Element (XPath)</label>
                            <input type="text" class="form-control col-sm-10" id="rootElement"
                                   placeholder="Root Element" ng-model="datasource.selectedDatasource.root"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            All fields and the root element must be specified using XPath, the standard language to
                            describe data path in a xml file.<br/>
                            For more information about the XPath syntax you can visit <a
                                href="http://www.w3schools.com/xpath/xpath_syntax.asp"> this link </a><br/>
                            You can find more example of XPath expression <a
                                href="http://www.w3schools.com/xpath/xpath_examples.asp">here</a>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="form-group ">

                        <div class="form-group col-md-6" ng-repeat="field in datasource.selectedDatasource.fields">
                            <label>{{field.name}}</label>
                            <input type="text" class="form-control" placeholder="value" ng-model="field.path">
                        </div>

                    </div>
                </div>

            </form>

        </div>
        <h3>Preview</h3>

        <div class="table">

            <table class="table">
                <thead>
                <th>
                    <td ng-repeat="(key,value) in externalDatas[0]">{{key}}</td>
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="data in externalDatas">
                    <td  ng-repeat="(key,value) in data"><div class="preview">{{value}}</div></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>

</modal-dialog>


