<header>
    <ul>
        <li class="color1"></li>
        <li class="color2"></li>
        <li class="color3"></li>
        <li class="color4"></li>
        <li class="color5"></li>
    </ul>

</header>
<div class="main container">
    <div class="logo panel">
        <a href="#"><img src="/images/logo.gif"></a>
    </div>
    <div class="logout">Connected as: {{isLoggedIn.name}}
        <a href="" ng-click="logout()" class=""><i class="glyphicon glyphicon-user"></i>Logout</a>
    </div>
</div>
<div class="tasks">
    <a href="" class="btn btn-primary" ng-click="toggleModal()" ng-show="isExternal">Datasource</a>
    <a href="" class="btn btn-primary" ng-click="createItem()">Create a new POI</a>
    <div class="row">
        <div class="col-md-6">
            <b>Current points of interests :</b>

            <ul>
                <li ng-repeat="item in localizedItems" ng-class="{editing: item == editingItem}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="item.selected" ng-change="submitItem(item)">
                        <label ng-click="editItem(item)" class="view">{{item.name}}</label>
                        <img ng-src="{{item.img}}" height="50px" width="50px"/>
                        <button class="btn btn-primary" ng-click="listInstagramPictures(item)"
                                ng-show="instagramActive()">Get From Instagram
                        </button>
                        <button class="btn btn-danger" ng-click="deleteItem(item)">Del</button>
                    </div>
                    <form ng-submit="submitItem(item)" class="edit">
                        <label>Name :</label><input type="text" ng-trim="false" ng-model="item.name">
                        <br/>
                        <label>Latitude :</label>
                        <input type="number" ng-trim="false" ng-model="item.lat">
                        <label>Longitude :</label>
                        <input type="number" ng-trim="false" ng-model="item.lng">
                        <a href="" class="btn btn-primary" ng-click=submitItem(item)>X</a>
                        <br/>
                        <label>Description :</label>
                        <input type="text" ng-trim="false" ng-model="item.description">
                        <label>Additional Informations :</label>
                        <input type="text" ng-trim="false" ng-model="item.additionalInfos">
                        <label>Price range :</label>
                        <input type="text" ng-trim="false" ng-model="item.price">
                        <br/>
                        <label>Main Picture :</label>
                        <input type="url" ng-trim="false" ng-model="item.img">

                        <div ng-show="instagramActive()">
                            <label>Instagram location Id :</label>
                            <input type="text" ng-trim="false" ng-model="item.instagramId">
                            {{item.instagramLocationName}}
                            <a href="" class="btn btn-primary" ng-click="fetchInstagramLocation(item)">Closest
                                Location</a>
                        </div>
                    </form>

                </li>
            </ul>

        </div>
        <div class="col-md-6">

            <span ng-repeat="image in instagramImages" ng-show="instagramSelect">

                <img ng-src="{{image.images.low_resolution.url}}" height="100px" width="100px"
                     ng-click="addImageToItem(image)"/>
            </span>

            <leaflet markers="markers" center="center"/>
        </div>
    </div>
</div>
<modal-dialog show='modalShown' width='80%' class="points-intereset" height='80%'
              dialog-title='Configure the external dataSource'>
    <div>
        <form>
            <div class="row">
                    <div class="form-group col-md-4">
                        <label>URL
                            <input type="text" class="form-control col-sm-10" id="url" placeholder="Url">
                        </label>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Type
                            <select class="form-control">
                                <option>xml</option>
                                <option>json</option>
                            </select>
                        </label>
                    </div>

                    <div class="form-group col-md-2">
                        <label><input type="checkbox" class="form-control col-sm-10"/>Auto Update</label>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Root Element<input type="text" class="form-control col-sm-10" id="rootElement"
                                                  placeholder="Root Element" value="reply"/></label>
                    </div>
            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    <h3>Mandatory Fields  <span class="glyphicon glyphicon-asterisk" title="Insert the xsl-like path to the proper elements"></span></h3>

                    <label>Name</label><input type="text" class="form-control" id="name" placeholder="Name"
                                              value="title>text"/>
                    <label>Description</label><input type="text" class="form-control" id="description"
                                                     placeholder="Description" value="abstract>text">
                    <label>Latitude</label><input type="text" class="form-control" id="descr" placeholder="Latitude"
                                                  value="clientData[1]#data">
                    <label>Longitude</label><input type="text" class="form-control" id="long" placeholder="Longitude"
                                                   value="clientData[2]#data">
                </div>
                <div class="form-group col-md-6">
                    <h3>Additional Fields</h3>
                    <label>Image</label><input type="text" class="form-control" id="image" placeholder="Image URL"
                                               value="clientData[0].http://www.nievre-tourisme.com/onto#visuel">
                    <label>Pricing</label><input type="text" class="form-control" id="price" placeholder="Price"
                                               value="clientData[0].http://www.nievre-tourisme.com/onto#tarif_nuit_mini">
                    <label>Additional Informations</label><input type="text" class="form-control" id="additional"
                                                                 placeholder="Additional Informations">
                    <a class="btn btn-primary">Add Field</a>
                </div>
            </div>

        </form>
        <a class="btn btn-primary" ng-click="loadExternalDatas()">Preview</a>
        <a class="btn btn-primary" ng-click="saveExternalDatas()">Save</a>
    </div>
    <div>
        <h3>Preview</h3>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Descr</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Additional Info</th>
                <th>Pricing</th>
                <th>Image URL</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in externalDatas">
                <td>{{data.text}}</td>
                <td>{{data.descr}}</td>
                <td>{{data.lat}}</td>
                <td>{{data.lng}}</td>
                <td></td>
                <td>{{data.price}}</td>
                <td>{{data.img}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</modal-dialog>

<footer><a href="http://www.athome-solution.fr" target="_blank"><img src="/images/logo_athome.png" border="0"></a>
</footer>
