<header>
    <ul>
        <li class="color1"></li>
        <li class="color2"></li>
        <li class="color3"></li>
        <li class="color4"></li>
        <li class="color5"></li>
    </ul>

</header>
<div class="main container">
    <div class="logo panel">
        <a href="#"><img src="/images/logo.gif"></a>
    </div>
    <div class="logout">Connected as: {{isLoggedIn.name}}
        <a href="" ng-click="logout()" class=""><i class="glyphicon glyphicon-user"></i>Logout</a>
    </div>
</div>
<div class="container">
    <div class="panel-menu">
        <div class="link user">
            <a href="#/configurecontent"><i ></i>Configure application content</a>
        </div>
    </div>
    <div class="panel-menu">
        <div class="link system">
            <a href="#/configuredatatypes"><i ></i>Configure datatypes</a>
        </div>

    </div>
    <div class="panel-menu">
        <div class="link points">
            <a href="" ng-click='toggleModal()'><i></i>Create a list of points of interest</a>
        </div>
    </div>

    <div class="panel-menu">
        <div class="link social">
            <a href="" ng-click="toggleSocialNetworkShown()"><i ></i>Configure social networks</a>
        </div>

    </div>

    <div class="panel-menu">
        <div class="link user">
            <a href="#/createclientapplication"><i ></i>Create client application</a>
        </div>

    </div>
    <div class="panel-menu">
        <div class="link calendar">
            <a href="http://m.ecreate.demos.athome-solution.fr/"><i></i>Test the application</a>
        </div>

    </div>

</div>
<footer><a href="http://www.athome-solution.fr" target="_blank"><img src="/images/logo_athome.png" border="0"></a> </footer>
<modal-dialog show='modalShown' width='350px' class="points-intereset" height='300' dialog-title='Create a list of points of interest'>
<div class="create-point">
    <form>

        <div class="form-group">
            <a href="#/main/false" class="btn btn-primary btn-lg btn-block"  ng-click="">Manual data</a>
            <a href="#/main/true" class="btn btn-primary btn-lg btn-block">External Data Source</a>
        </div>

    </form>

</div>

</modal-dialog>

<modal-dialog show='socialNetworkShown' width='400' class="points-intereset" height='600' dialog-title='Configure Social Networks'>
    <div class="create-point">
        <form>
            <h3>Instagram</h3>
            <div class="form-group">
                <input type="checkbox" ng-model="$scope.instagramChecked" ng-change="enableInstagram()"/> Enabled
            </div>
            <div class="form-group">
            Client Id : <input type="text"/>
            </div>
            <h3>Facebook</h3>
            <div class="form-group">
            <input type="checkbox"/> Enabled
            </div>
            <div class="form-group">
            App Id : <input type="text"/>
            </div>
            <div class="form-group">
            Secret : <input type="text"/>
            </div>
            <h3>Twitter</h3>
            <div class="form-group">
            <input type="checkbox"/> Enabled
            </div>
            <div class="form-group">
            App Id : <input type="text"/>
            </div class="form-group">
            <div class="form-group">
            Token : <input type="text"/>
            </div>

        </form>
        <a href="" class="btn btn-primary" ng-click="toggleSocialNetworkShown()">Valider</a>

    </div>

</modal-dialog>

