<header>
    <ul>
        <li class="color1"></li>
        <li class="color2"></li>
        <li class="color3"></li>
        <li class="color4"></li>
        <li class="color5"></li>
    </ul>

</header>
<div class="main container">
    <div class="logo panel">
        <a href="#"><img src="/images/logo.gif"></a>
    </div>
    <div class="logout">Connected as: {{isLoggedIn.name}}
        <a href="" ng-click="logout()" class=""><i class="glyphicon glyphicon-user"></i>Logout</a>
    </div>
</div>
<div class="tasks">
    <a href="" class="btn btn-primary" ng-click="toggleModal()" ng-show="isExternal">Datasource</a>
    <a href="" class="btn btn-primary" ng-click="createItem()">Create a new POI</a>

    <div class="row">
        <div class="col-md-7">
            <b>Current points of interests :</b>

            <div class="scrollview">
                <table class="table-poi table table-striped full-width">
                    <tbody ng-repeat="item in localizedItems">
                    <tr>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                       id="onoffswitch_{{item.id}}" ng-model="item.selected"
                                       ng-change="submitItem(item)">
                                <label class="onoffswitch-label" for="onoffswitch_{{item.id}}">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                            </div>
                        </td>
                        <td>
                            <img ng-src="{{item.img}}" height="50px" width="50px"/>
                        </td>
                        <td>
                            <label ng-click="editItem(item)" class="view">{{item.name}}</label><br/>
                            <span>{{item.additionalInfos}}</span>
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-click="listInstagramPictures(item)"
                                    ng-show="instagramActive()" title="Get From Instagram"><i
                                    class="glyphicon glyphicon-picture"></i></button>
                            <button class="btn btn-danger" ng-click="deleteItem(item)" title="Delete item"><i
                                    class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                    <tr ng-show="item == editingItem">
                        <td colspan="4">
                            <form ng-submit="submitItem(item)" class="edit form-horizontal" role="form">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Name</label>

                                            <div class="col-sm-8">
                                                <input type="text" ng-trim="false" ng-model="item.name"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Subtitle</label>

                                            <div class="col-sm-8">
                                                <input type="text" ng-trim="false" ng-model="item.additionalInfos"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Type</label>

                                            <div class="col-sm-8">
                                                <input type="text" ng-trim="false" ng-model="item.type"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Latitude</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.lat"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Longitude</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.lng"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                        <span class="col-md-7">Infos</span>


                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Capacity</label>

                                            <div class="col-sm-8">
                                                <input type="text" ng-trim="false" ng-model="item.infos.capacity"
                                                       class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Stars</label>

                                            <div class="col-sm-8">
                                                <input type="text" ng-trim="false" ng-model="item.infos.stars"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Rooms</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.infos.rooms"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Languages</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.infos.languages"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <span class="col-md-7">Addresse</span>


                                    <div class="col-md-7">


                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Address1</label>

                                            <div class="col-sm-8">
                                                <input type="text" ng-trim="false" ng-model="item.address.address1"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Address2</label>

                                            <div class="col-sm-8">
                                                <input type="text" ng-trim="false" ng-model="item.address.address2"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Phone</label>

                                            <div class="col-sm-8">
                                                <input type="text" ng-trim="false" ng-model="item.phone"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Email</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.mail"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Zipcode</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.address.postCode"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">City</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.address.city"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <label>Description :</label>
                                        <textarea class="form-control" rows="8" ng-trim="false"
                                                  ng-model="item.description"></textarea>
                                        <br/>

                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Price range</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.price"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Photo Album</label>

                                            <div class="col-xs-6">
                                                <input type="textArea" ng-model="item.images" ng-list="\\n">
                                                <input type="text" ng-trim="false" ng-model="item.images"
                                                       class="form-control">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-5">
                                        <img src="{{item.img}}" width="220" style="margin-left: 10px"/>

                                        <div class="col-xs-12">
                                            <input type="url" ng-trim="false" ng-model="item.img" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br/>

                                <div class="row" ng-show="instagramActive()">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Instagram location Id :</label>

                                            <div class="col-xs-6">
                                                <input type="text" ng-trim="false" ng-model="item.instagramId"
                                                       class="form-control">
                                            </div>
                                            <span class="help-block text-right">{{item.instagramLocationName}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <a href="" class="btn btn-primary" ng-click="fetchInstagramLocation(item)">Find
                                            closest Location</a>
                                    </div>
                                </div>

                                <a href="" class="btn btn-primary pull-right" ng-click=submitItem(item)><span
                                        class="glyphicon glyphicon-ok"></span> Save</a>

                                <div class="clearfix"></div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <leaflet markers="markers" center="center"/>
        </div>
    </div>
</div>

<modal-dialog show="instagramImagesShown" width="50%" class="" height="80%" dialog-title='Choose a picture'>
    <div>
        <span ng-repeat="image in instagramImages" ng-show="instagramSelect">

            <img ng-src="{{image.images.low_resolution.url}}" height="100px" width="100px"
                 ng-click="addImageToItem(image)"/>
        </span>
    </div>
</modal-dialog>
<footer><a href="http://www.athome-solution.fr" target="_blank"><img src="/images/logo_athome.png" border="0"></a>
</footer>
<modal-dialog show='modalShown' width='80%' class="points-intereset datasource" height='80%'
              dialog-title='Configure the external dataSource'>
    <div class="external">
        <div class="row">
            <form>
                <div class="well">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Data source</label>
                            <select class="form-control" ng-model="datasource.selectedDatasource" ng-options="datasource.name for datasource in datasources" ng-change="onSourceUpdate()">
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>URL </label>
                            <input type="text" class="form-control col-sm-10" id="url" placeholder="Url" ng-model="datasource.selectedDatasource.url">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Name</label>
                            <input type="text" class="form-control col-sm-10" id="name"
                                   placeholder="Datasource Name" ng-model="datasource.selectedDatasource.name"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Root Element (XPath)</label>
                            <input type="text" class="form-control col-sm-10" id="rootElement"
                                   placeholder="Root Element" ng-model="datasource.selectedDatasource.root"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">

                            <a class="btn btn-primary" ng-click="createNewDataSource()">New</a>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Type</label>
                            <select class="form-control" ng-model="type.selectedType" ng-options="type.name for type in datatypes"  ng-change="onTypeUpdate()">
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Name</label>
                            <input type="text" class="form-control col-sm-10" id="name"
                                   placeholder="Datasource Name" ng-model="datasource.selectedDatasource.name"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Root Element (XPath)</label>
                            <input type="text" class="form-control col-sm-10" id="rootElement"
                                   placeholder="Root Element" ng-model="datasource.selectedDatasource.root"/>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <h3>Mandatory Fields <span class="glyphicon glyphicon-asterisk"
                                                   title="Insert the xsl-like path to the proper elements"></span>
                        </h3>


                        <div class="form-group ">
                            <label>Name</label><input type="text" class="form-control " id="name" placeholder="Name"
                                                      ng-model="datasource.structure.text"/></div>
                        <div class="form-group ">
                            <label>Unique Id (for updates)</label><input type="text" class="form-control " id="id" placeholder="Id"
                                                      ng-model="datasource.structure.id"/></div>
                        <div class="form-group">
                            <label>Description</label><input type="text" class="form-control" id="description"
                                                             placeholder="Description" value="abstract>text">
                        </div>
                        <div class="form-group">
                            <label>Latitude</label><input type="text" class="form-control" id="descr"
                                                          placeholder="Latitude"
                                                          value="clientData[1]#data">
                        </div>
                        <div class="form-group"><label>Longitude</label><input type="text" class="form-control"
                                                                               id="long" placeholder="Longitude"
                                                                               value="clientData[2]#data"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <h3>Additional Fields</h3>
                        <div class="form-group" ng-repeat="field in datasource.selectedDatasource.fields">
                            <label>{{field.name}}</label>
                            <input type="text" class="form-control" placeholder="value" ng-model="field.path">
                        </div>

                        <a class="btn btn-primary">Add Field</a>
                    </div>
                </div>

            </form>
            <a class="btn btn-primary" ng-click="loadExternalDatas()">Preview</a>
            <a class="btn btn-primary" ng-click="saveExternalDatas()">Save</a>
        </div>
        <h3>Preview</h3>

        <div class="table">

            <table class="table">
                <thead>
                <tr ng-model="externalDatas[0]">
                    <th ng-repeat="(key,value) in data">{{key}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in externalDatas">
                    <td ng-repeat="(key,value) in data">{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>

</modal-dialog>


