<ion-view title="{{'LOGIN'|i18n}}" class="poi">
    <ion-nav-bar class="nav-title-slide-ios7 bar-light">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-more" ng-click="toggleMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header login">
        <div class="icone"><i class="ion-android-contact"></i></div>
        <div class="padding">
            <p>{{'LOGIN_DESCRIPTION'|i18n}}</p>
        </div>
        <div class="padding" ng-show="error">
            <p>{{error}}</p>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="{{'Username' | i18n}}" ng-model="username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="{{'Password' | i18n}}" ng-model="password">
            </label>
        </div>
        {{email}}
        <div class="padding">
            <button ng-click="doLogin(username, password)" class="button button-block button-balanced">{{'LOGIN'|i18n}}</button>
            <a href="#/register" class="button button-block button-balanced">{{'LOGIN_REGISTER'|i18n}}</a>
        </div>


    </ion-content>
</ion-view>